:root {
    --dark-background: #121212;
    --light-text: gray;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100dvh;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/clouds.jpg') no-repeat center;
    background-size: cover;
    background-color: var(--dark-background);
}

.container {
    height: 350px;
    width: 350px;
    border-radius: 20px;
    padding: 15px;
    background: radial-gradient(
        rgba(170, 170, 170, 0.3),
        rgba(115, 115, 115, 0.5)
    );
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.container h1,
.container p {
    margin: 0;
}

.container hr {
    margin: 10px 0;
    border: solid 1px var(--dark-background);
    border-color: var(--dark-background);
}

#todo-input {
    width: 100%;
    padding: 10px;
    color: var(--light-text);
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

#todo-input:focus {
    outline: none;
}

.todos {
    margin: 10px 0;
    height: 200px;
    overflow-y: hidden;
    cursor: pointer;
}

.todo-check {
    height: 18px;
    width: 18px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    scale: 1;
    transition: scale 500ms ease;
}

.todo-check:hover {
    background-color: gray;
    scale: 0.9;
}

.todo-line {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px dashed rgba(150, 150, 150, 0.5);
    color: rgb(220, 220, 220);
}

@media screen and (max-width: 425px) {
    html, body {
        margin: 0;
        padding: 0;
        min-height: 100dvh;
        overflow-y: hidden;
    }

    body {
        background-position: left;
    }

    .todo-check {
        padding: 0;
        margin: 0;
    }
    input {
        font-size: 16px;
    }
}